<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>TouchOSCEditor</string>
    <key>CFBundleIdentifier</key>
    <string>net.hexler.TouchOSCEditor</string>
    <key>CFBundleShortVersionString</key>
    <string>1.8.4</string>
    <key>CFBundleVersion</key>
    <string>184</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>universalJavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>JavaX</key>
    <dict>
      <key>MainClass</key>
      <string>net.hexler.touchosc.TouchOSCEditor</string>
      <key>JVMVersion</key>
      <string>1.5+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/TouchOSCEditor.jar</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>TouchOSCEditor</string>
      </dict>
    </dict>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>touchosc</string>
          <string>TOUCHOSC</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>Document.icns</string>
        <key>CFBundleTypeName</key>
        <string>TouchOSC Layout</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
    </array>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
      <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2009-2017 Hexler Limited. All rights reserved.</string>
  </dict>
</plist>
